# Server-side Gemini & HubCloud API Configuration
GEMINI_API_KEY=
SCRAPER_API_KEY=
FIREBASE_SERVICE_ACCOUNT_JSON=
AI_STUDIO_API_URL=https://ais-pre-ztgr34s3xe3g6vxljx3ldl-684080073915.asia-southeast1.run.app
HUBCLOUD_PROXY_API_URL=https://ais-pre-ztgr34s3xe3g6vxljx3ldl-684080073915.asia-southeast1.run.app
RESEND_API_KEY=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
